<h2>实现 Github API OAuth2 鉴权</h2>

<section class="11card">{{!-- 1 --}}
  <header class="11card-header">{{!-- 1.1 --}}
      别忘了实现 Github API OAuth2 鉴权，否则每小时只有60次请求

  </header>

  <div >
    <ul class="cell -4of12" local-class="user-ul">{{!-- 1.2 --}}
      {{#each model as |user|}}
          <li local-class="user-item" onclick={{action "selectUser" user}}>
          <a href="{{user.id}}">
              {{user.id}} {{if user (concat "-" user.login)}}
          </a>
          </li>
      {{/each}}
    </ul>

  </div>
</section>
